* {
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

#grid {
    display: grid;
    grid-template-areas:
    "title title title title title"
    "playerOne 1st 2nd 3rd playerTwo"
    "playerOne 4th 5th 6th playerTwo"
    "playerOne 7th 8th 9th playerTwo"
    ;
}

.game {
    border: 2px ridge red;
    height: 20vh;
    border-collapse: collapse;
    box-shadow: none;
}

#title {
    grid-area: title;
    text-align: center;
    font-size: 8vh;
    color: maroon;
}

#it1 {
    grid-area: 1st;
}

#it2 {
    grid-area: 2nd;
}

#it3 {
    grid-area: 3rd;
}

#it4 {
    grid-area: 4th;
}

#it5 {
    grid-area: 5th;
}

#it6 {
    grid-area: 6th;
}

#it7 {
    grid-area: 7th;
}

#it8 {
    grid-area:8th;
}

#it9 {
    grid-area:9th;
}

#player1 {
    grid-area: playerOne;
    text-align: center;
}

#player2 {
    grid-area: playerTwo;
    text-align: center;
}

#player1 , #player2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 2.5em;
    align-self: center;
    font-size: 2.5em;
}

img {
   max-width: 70%;
   max-height: 70%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    width: 100%;
    height: 50px;
}

#reset {
    margin: 0 auto;
    width: 20%;
    height: 40px;
    background-color: violet;
    display: none;
    border-radius: 10px;
}

.shown {
    display: block;
}

#p , #win1 , #win2 {
    color: orangered;
}
 /* Dark Mode Options */

.darkmode { /* body */
    background-color: rgba(0, 0, 0, 1);
}

#titleDark {
    color: darkblue;
    grid-area: title;
    text-align: center;
    font-size: 8vh;
    text-shadow: 0px 0px 10px yellow , 0px 0px 7px green;
}

.btn { /* hide default check box */
    display: none;
}

.label { /* label for check box */
    display: inline-block;
    color: red;
    font-size: 2em;
    position: relative;
    padding-left: 55px;
    top: 4px;
}

#switch-label::before { /* custom check box */
    display: inline-block;
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: black;
}

#switch:checked + #switch-label::before{ /* toggle switch change background */
    content: "";
    background-color: white;
}

.gameDark {/* grid area styling */
    border: 3px solid orangered;
    box-shadow: 0px 0px 20px rgb(196, 127, 0) , 0px 0px 10px rgb(5, 5, 168);
    height: 20vh;
}

#p1 , #p2 { /* player one and two */
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    text-shadow: 0px 0px 5px lightcyan , 0px 0px 3px red;
}

#p1 { /* player one */
    grid-area: playerOne;
    color: darkblue;
    text-align: center;
}

#p2 { /* player two */
    grid-area: playerTwo;
    color: darkblue;
    text-align: center;
}

#btnDark {/* reset button */
    display: none;
    background-color: navy;
    color: orangered;
    width: 20%;
    height: 40px;
    border: 2px solid goldenrod;
    box-shadow: 0px 0px 20px orange , 0px 0px 15px green;
    border-radius: 10px;
}




@media only screen and (max-width:700px){
    #title {
        margin-top: 1em;
        font-size: 2em;
    }
    #grid {
        grid-template-areas:
        "title title title"
        "1st 2nd 3rd"
        "4th 5th 6th"
        "7th 8th 9th"
        "playerOne reset playerTwo"
        ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #player1 , #player2 {
        display: grid;
        height: 1em;
        align-self: center;
        font-size: 1em;
    }
    #btn{
        grid-area: 'reset';
    }

    .gameDark {/* grid area styling */
        border: 3px solid orangered;
        box-shadow: 0px 0px 20px rgb(196, 127, 0) , 0px 0px 10px rgb(5, 5, 168);
        height: 20vh;
    }

    #titleDark {
        margin-top: 1em;
        color: darkblue;
        grid-area: title;
        text-align: center;
        font-size: 2em;
        text-shadow: 0px 0px 10px yellow , 0px 0px 7px green;
    }
    #btnDark {/* reset button */
        height: 40px;
        margin: 0;
        border: 2px solid goldenrod;
        border-radius: 5px;
        font-size: 14px;
    }
}